/* Colors for project: */
:root {
  --orange: #FA9E05;
  --yellow: #FFDD00;
  --purple: #A7095C;
  --green: #4A772F;
  --gray: #3e3939;
  --m-gray: #646060;
  --x-gray: #8b8888;
  --s-gray: #d8d7d7;
  --l-gray: #ebebeb;
  --black: #2c2727;
  --white: #f6f4f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
}

/* Fonts Styles */
.bigger-font {
  font-size: 5rem;
  color: var(--gray);
}

.normal-font {
  font-size: 2.8rem;
  color: var(--m-gray);
}

.lower-font {
  font-size: 1.7rem;
  color: var(--gray);
}

.lower-font-color {
  font-size: 1.7rem;
  color: var(--orange);
}

.lower-font-bold {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--gray);
}

.lower-font-bold-white {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--white);
}

.lower-font-white {
  font-size: 1.7rem;
  color: var(--white);
}

.lowest-font-white {
  font-size: 1.2rem;
  color: var(--white);
}

.lowest-font-light {
  font-size: 1.2rem;
  color: var(--x-gray);
}  


.lowest-font-bold {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--gray);
}  

.lowest-font-bold-light {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--x-gray);
}  

.lowest-font-bold-color {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--orange);
}

/* Header Section */
.header {
  margin: 30px 30px 130px 30px;
  position: relative;
}

/* Home Section */
.section-global {
  margin: 0 auto;
  margin-bottom: 200px;
  max-width: 1024px;
}

.home__iam {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(200 / 16 * 1rem);
  height: calc(60 / 16 * 1rem);
  border-radius: 25px 25px 25px 0;
  background-color: var(--orange);
  color: var(--white);
}

.grid2 {
  display: grid;
  gap: 1.8rem;
  justify-items: center;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.scroll-margin {
  scroll-margin-top: 100px;
}

.progress-bar {
  width: 90%;
  height: 0.6rem;
  background-color: var(--x-gray);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-left: 1.2rem;
}

.progress {
  width: 0;
  height: 100%;
  background-color: var(--orange);
  border-radius: 10px;
  transition: 0.4s;
}

.align-text-left  {
  text-align: left;
}

.title-margin {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.title-box-margin {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

svg {
  width: 100%;
}

svg circle {
  fill: none;
  stroke: var(--x-gray);
  stroke-width: 0.6rem;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg);
  transform-origin: 50%;
}

svg circle:nth-child(2) {
  stroke: var(--orange);
  stroke-dasharray: var(--percentage) 100;
}

.card {
  padding: 1rem;
  max-width: 350px;
  height: 230px;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
}

.link {
  text-decoration: none;
}

.box-form {
  width: 90vw;
}

.flex {
  display: flex;
  justify-content: center;
}

.grid-form {
  display: grid;
  /* justify-content: center; */
  gap: 1rem;
  padding: 30px 10% 10px 10%;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
.col input{
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--x-gray);
}

.box-form textarea {
  width: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--x-gray);
}

button {
  display: block;
  margin: 1rem auto;
  min-width: 300px;
  height: 3.5rem;
  background-color: var(--orange);
  border-radius: 10px;
  border: none;
  color: var(--white);
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

.color-circle {
  width: 30px;
  height: 30px;
  margin: 1rem 1rem 1rem 0;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.orange {
  background-color: #ff7517;
}
.green {
  background-color: var(--green);
}
.purple {
  background-color: var(--purple);
}
.yellow {
  background-color: var(--yellow);
}

.popup {
  position: fixed;
  top: 205px;
  left: 0px;
  width: 60px;
  padding: 20px;
  background-color: var(--l-gray);
  border-radius: 0 10px 10px 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.7s ease;
  transform: translateX(0);
  opacity: 0.7;
}

.popup.hidden {
  transform: translateX(-100%);
}

.button-image {
  position: fixed;
  top: 170px;
  left: 15px;
  display: inline-block;
  background-image: url("/images/icons/snowflake.png");
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}