.container-mobile {
  display: flex;
  flex-direction: row-reverse;
}
.menu-mobile {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.8s ease, transform 0.8s ease;
  list-style: none;
  text-align: center;
  visibility: hidden;
}

.menu-mobile a {
  text-decoration: none;
}

@media screen and (max-width: 736px) {
  /* Global */
  .bigger-font {
    font-size: 4.5rem;
    color: var(--gray);
  }

  .normal-font {
    font-size: 2.3rem;
    color: var(--m-gray);
  }

  .lower-font {
    font-size: 1.5rem;
    color: var(--gray);
  }

  .lower-font-bold {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--gray);
  }

  .lower-font-bold-white {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--white);
  }

  .section-global {
    /* margin: 0 auto; */
    margin-bottom: 100px;
    /* max-width: 1024px; */
  }

  /* Header Section */
  .header {
    margin: 30px 30px 30px 30px;
  }

  /* Home Section */
  .home-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .home-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .home__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(520 / 16 * 1rem);
    height: calc(520 / 16 * 1rem);
    border-radius: 50%;
    margin-bottom: 25px;
    background-color: var(--l-gray);
  }

  .home__img img {
    width: calc(460 / 16 * 1rem);
    border-radius: 50%;
    border: 20px solid var(--s-gray);
  }

  .home__link {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
  }

  /* About Section */
  .about-img-container {
    margin-bottom: 35px;
  }

  .about__img {
    width: calc(460 / 16 * 1rem);
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px), (max-height: 414px) {
  .header {
    margin: 2.5rem 2.5rem 2.5rem 2.5rem;
  }
  
  .menu-icon img {
    right: 3rem;
  }

  .hero {
    display: block;
    height: 2.5rem;
    margin: 0;
  }
  
  .menu-pc {
    display: none;
  }

  .menu-icon {
    padding-left: 90%;
  }
  .menu-img {
    background-color: white;
    position: fixed;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 0.5rem;
  }

  .menu-mobile--open {
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: max-content;
    opacity: 1;
    transform: translateY(0);
    background-color: white;
    z-index: 100;
  }
  .menu-mobile--open li {
    cursor: pointer;
  }
}
