/* Colors for project: */
:root {
  --black: #191919;
  --blue: #2d4263;
  --red: #c84b31;
  --warm-white: #ecdbba;
  --ico-personal-dimension: 30px;
  --ico-sm-dimension: 50px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--black);
}

/* main */
/* Section HOME */
  .home {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Profile photo */
    .home-image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 95vh;
    }
    .home-image-container img {
      width: 340px;
      margin: 30px;
    }
    .home-image-container .info--iam {
      font-size: 2.4rem;
      font-weight: bold;
      background-color: var(--red);
      margin-top: 40px;
      padding: 15px 0px;
      border-radius: 20px 20px 20px 0;
    }
    .info--iam a {
      text-decoration: none;
      padding: 15px 40px;
      color: white;
    }
  /* End */

  /* Personal Information */
  .home-information-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
  }
  .home-information-container h2 {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin: 25px auto 0px;
    color: whitesmoke;
  }
  .home-information-container h4 {
    font-size: 3.3rem;
    font-weight: 400;
    color: var(--red);
    margin-top: 20px;
  }

  /* Information List */
  .home--list {
    font-size: 2.3rem;
    font-weight: 350;
    margin-top: 60px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    color: var(--warm-white);
  }

  .home--list li {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .home--list .email {
    width: var(--ico-personal-dimension);
    height: var(--ico-personal-dimension);
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/email5.png);
  }
  .home--list .phone {
    width: var(--ico-personal-dimension);
    height: var(--ico-personal-dimension);
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/phone2.png);
  }
  .home--list .location {
    width: var(--ico-personal-dimension);
    height: var(--ico-personal-dimension);
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/location3.png);
  }

  /* Social Nework List */
  .home--list-socialNetworks {
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: baseline;
    flex-direction: row;
  }
  .home--list-socialNetworks li {
    display: flex;
  }

  
.home--list-socialNetworks .facebook {
     width: var(--ico-sm-dimension);
    height: var(--ico-sm-dimension);
    margin-right: 70px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url(../assets/icons/instagram1.png);
  }

  .home--list-socialNetworks .gH {
    width: var(--ico-sm-dimension);
    height: var(--ico-sm-dimension);
    margin-right: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/gitH2.png);
  }

  .home--list-socialNetworks .linkedin {
    width: var(--ico-sm-dimension);
    height: var(--ico-sm-dimension);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/in3.png)
  }
 /*  .home--list-socialNetworks span {
    cursor: pointer;
  } */

/* Section About */
  .about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .about img {
    width: 340px;
    margin: 20px 30px 0px 30px;
  }
  .about-information-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30px;   
  }
  .about-information-container .about--title {
    font-size: 4.2rem;
    font-weight: 500;
    color: whitesmoke;
    margin-bottom: 15px;
  }
  .about-information-container .about--content {
    width: 300px;
    font-size: 2rem;
    font-weight: 200;
    color: whitesmoke;
    text-align: justify;
  }
  .about-information-container .about--list {
    width: 300px;
    font-size: 1.8rem;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    color: var(--warm-white);
  }
  .about-information-container .about--list li {
    border: solid var(--red);
    padding: 5px;
    border-radius: 10px;
    margin: 15px 10px 15px 10px;
  }
  .about-information-container .about--link a {
    width: 140px;
    height: 60px;
    padding: 5px;
    margin-bottom: 140px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background-color: var(--red);
    color:var(--warm-white);
    text-decoration: none;
  }
.about--link a:hover {
  background-color: var(--warm-white);
  color: var(--blue);
}
.about--link a:visited {

}
  /* section EXPERIENCE */
 
  .experience h2 {
    width: auto;
    font-size: 4.2rem;
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
  }
  .education--card {
    width: 320px;
    height: 320px;
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
    color: white;
    background-color: black;
  }
  .education--card h4 {
    font-size: 2.8rem;
  }
  .education--card h5 {
    font-size: 2rem;
    color: var(--red);
    margin-bottom: 15px;
  }
  .education--card ul {
    font-size: 1.8rem;
    padding-left: 20px;
  }
  .experience-education-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 140px;

} 
  .experience-work-container .work--card {
    width: 320px;
    height: 320px;
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
    color: white;
    background-color: black;
    
  }
  .experience-work-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }

  