/* Header */
.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1024px;
  margin: 5rem auto;
}

.menu-pc {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 16%;
  margin: 0 0 3rem 3rem;
  padding: 0 18rem 1rem 0;
  background-color: var(--white);
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
}

.menu-pc.scrolled {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); /* Aplica la sombra */
}

.menu-pc a {
  text-decoration: none;
  margin-left: 3rem;
}

.menu-pc a:hover {
  color: var(--orange);
  transition: 0.4s;
}

.menu-pc a:active {
  text-decoration: underline;
}

.menu-pc a::after {
  text-decoration: underline;
}

.menu-img {
  display: none;
}

/* Home Section */
.box-global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* border: 1px solid var(--gray); */
}

.container-global {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.home__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(630 / 16 * 1rem);
  height: calc(630 / 16 * 1rem);
  border-radius: 50%;
  background-color: var(--l-gray);
}

.home__img img {
  width: calc(570 / 16 * 1rem);
  border-radius: 50%;
  border: 20px solid var(--s-gray);
}

.home__name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}

.home__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.list-img {
  width: calc(23 / 16 * 1rem);
  margin-right: 14px;
}

.home__link {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.link__svg svg {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 7px;
  fill: var(--gray);
}
.link__svg svg:hover {
  fill: var(--orange);
  background-color: var(--gray);
}

/* About Section */
.about-img-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.about__img {
  width: calc(560 / 16 * 1rem);
}

.about__info {
  padding: 35px;
}

.about__info--p {
  line-height: 26px;
  text-align: justify;
}

.info__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  margin-bottom: 30px;
}

.info__item span {
  border: 2px solid var(--orange);
  border-radius: 5px;
  padding: 2px 11px 2px 11px;
}

.info__item--cv {
  text-decoration: none;
  border: 1px solid var(--orange);
  border-radius: 20px;
  padding: 9px 55px 9px 30px;
  background-color: var(--orange);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 85% 60%;
  background-image: url(/images/icons/download.png);
}

.info__item--cv:hover {
  cursor: pointer;
}

/* Portfolio Section */
.container-portfolio {
  display: grid;
  justify-content: center;
  gap: 30px;
  padding: 30px 10% 10px 10%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.section-global h2 {
  text-align: center;
}

.portfolio__item {
  height: calc(560 / 16 * 1rem);
  border-radius: 15px;  
  /* border: 1px solid var(--gray); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-repeat: no-repeat;
  background-size:cover;
}

.portfolio__calencli {
  background-image: url(/images/imgs/calenCli.svg);
}

.portfolio__pkmon {
  background-image: url(/images/imgs/map.png);
}

.portfolio__clinBoards {
  background-image: url(/images/imgs/clin-boards.png);
}

.portfolio__clivia {
  background-image: url(/images/imgs/trivia.svg);
}

.portfolio__info {
  height: 100%;
  padding-top: 30%;
  border-radius: 15px;
  text-align: center;
  background-color: var(--orange);
  opacity: 0;
  transition: 0.3s;
}

.portfolio__info:hover {
  opacity: 0.9;
}